<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
    <Properties>
        <Property name="logpath-location">./app/spring-deployment-memory-issue/logs</Property>
        <Property name="logfile-name">db_service.log</Property>
        <Property name="archive">${logpath-location}/archive/dbservice</Property>
        <Property name="interval">10</Property>
    </Properties>

    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %C.%M():%L %X - %m%n" />
        </Console>

        <RollingFile name="RollingFileAppender" fileName="${logpath-location}/${logfile-name}"
            immediateFlush="false" append="false"
            filePattern="${archive}/${logfile-name}.%d{yyyy-MM-dd-HH}.gz">
            <PatternLayout>
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} {lvl:%level} {tid:%threadId} {uid:%X{userId}} {cls:%class} {mtd:%method} %throwable{10} %n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <AsyncLogger name="com.example" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console" level="INFO" />
            <AppenderRef ref="RollingFileAppender"/>
        </AsyncLogger>

        <AsyncLogger name="org.hibernate" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console" level="INFO" />
        </AsyncLogger>

        <AsyncLogger name="org.springframework" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console" level="INFO" />
        </AsyncLogger>

        <AsyncRoot level="trace" includeLocation="true">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFileAppender" />
        </AsyncRoot>
    </Loggers>

</Configuration>